.wp-block-tru-blocks-predictions .components-base-control {
    float: left;
    width: 31.333%;
    margin-right: 2%;
}
.wp-block-tru-blocks-predictions .components-base-control:last-child {
    margin-right: 0;
}
.wp-block-tru-blocks-predictions .components-base-control.rider-name {
    width: 76%;
}
.wp-block-tru-blocks-predictions .components-base-control.rider-place {
    width: 10%;
}
.wp-block-tru-blocks-predictions .components-base-control.points {
    width: 10%;
}