.power-ranking-rider {
    overflow: hidden;

    .power-ranking-rider-image {
        float: left;
    }

    .power-ranking-rider-content {
        overflow: hidden;
    }

    .power-ranking-rider-content .power-ranking-rider-last-week {
        border: 1px solid #000;
        padding: 3px 5px;
    }
}