.wp-block-tru-blocks-power-ranking-rider {}
.power-ranking-rider {}
.power-ranking-rider .power-ranking-rider-image {
    float: left;
}
.power-ranking-rider .power-ranking-rider-image.image-active {}
.power-ranking-rider .power-ranking-rider-image.image-inactive {}
.power-ranking-rider .power-ranking-rider-content {
    overflow: hidden;
}
.power-ranking-rider .power-ranking-rider-content .power-ranking-rider-name {
    font-weight: bold;
}
.power-ranking-rider .power-ranking-rider-content .power-ranking-rider-last-week {
    border-top: 1px solid #000;
}
